<style>
	.container {font-family: 'Staatliches', cursive;display:flex;flex-direction: column;align-items:center;}
	h1 {font-size:400%;}img {margin-top:50px;width: 300px;}
</style>

<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title%}{% endblock %}</title>
		<link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    </head>
    <body>
		<div class="container">
			<img src="/img/4x2.png" alt="">
               <h2><a href="/">{% block subtitle%}{% endblock %}</a></h2>
		</div>
    </body>
</html>
