<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <title>Sakado - Activation de votre compte</title>
     </head>
     <body>
          <h1>Votre compte à bien été activé.</h1>
          <a href="/">Retour à l'accueil</a>
     </body>
</html>
