html, body {margin:0;width: 100%;height: 100%;}
a {text-decoration: none;color:black;}
fieldset {margin: 0;}
.container {max-width: 1300px;}
/*main {width: 100%;height:95%;}*/
img {width: 100%;}
nav {padding: 0 15px;height: 50px;}
/*main {width: 100%;height: 100%;}*/
button {cursor: pointer;}
button:focus {outline: none;}
.state_message {display: none;}
.message {display:block;font-size: 17px;border: solid 1px rgba(0, 0, 0, 0);border-radius: 10px;margin: 10px 0;padding: 3px 6px;}
.popup {display:block;font-weight: bold;border-radius: 5px;padding: 7px 15px;position: fixed;top:100px;right:100px;height: auto;max-width: 550px;border: solid 1px;font-size: 18px;word-wrap: break-word;}
.no {border-color: rgb(154, 12, 12);color: rgb(154, 12, 12);background-color: rgba(255, 129, 129, 0.7);}
.yes {border-color: rgb(12, 154, 12);color: rgb(12, 154, 12);background-color: rgba(129, 255, 129, 0.7);}
main {min-height: 500px;}
@font-face {
     font-family: 'Alata';
     src: url("../fonts/alata-regular.ttf");
}
@font-face {
     font-family: 'Staatliches';
     src: url("../fonts/Staatliches-Regular.ttf");
}
@font-face {
     font-family: 'Luckiest';
     src: url("../fonts/LuckiestGuy-Regular.ttf");
}

@keyframes error {
     25%, 75% {transform: translateX(-20px);}
     50%, 100% {transform: translateX(20px);}
}
