
header nav {background-color: rgba(0,0,0,0);height:80px;display: flex;justify-content: space-between;}
header nav a span {color:white;font-size: 60px;font-family: 'Luckiest';}
header nav ul {margin: auto 0; display: flex;list-style: none;}
header nav ul li {margin: 0 5px;}
header nav ul li a {padding: 0 !important;transition: all 0.3s;padding-bottom: 5px;font-size: 18px;font-family: 'Staatliches', serif;color:white !important; }
header nav ul li a:hover {border-color:white;text-decoration: none;color: white;filter: opacity(0.5)}
header nav .right {display: flex;align-items: center;justify-content: flex-end;}
header nav button span {color:white;}
@media all and (max-width: 1400px) {

}
