header nav {position: relative;background-color: rgb(0, 59, 92);border-bottom: 2px solid white;}
form a:hover {text-decoration: underline;}
main {border: solid 1px gray; border-radius: 15px;margin:15px 40px;box-shadow: 2px 2px 7px black;display: flex;}
main form {display: flex;flex-direction: column;width: 100%;}
main .top {width: 100%;display: flex;}
main .top .left {padding:15px 30px;border-right: 1px solid gray;width: 60%;display: flex;flex-direction: column;}

main .top h3 {font-size: 25px;text-decoration: underline;font-style: italic;}

main .top .left .input_field label {font-size: 19px;font-family: 'Alata';}
main .top .left .input_field input {margin: 0;padding: 4px 5px 0px 5px;font-size: 20px;border: 0;border-bottom: 2px solid rgb(0, 59, 92);}
main .top .left .input_field input:focus, main .top .left .input_field textarea:focus {outline: none;border-color: orange;}
main .top .left .input_field input:hover, main .top .left .input_field textarea:hover {background-color: rgb(240,240,240);}
main .top .left .input_field textarea {resize: none;margin: 0;padding: 4px 5px 0px 5px;font-size: 20px;border: 2px solid rgb(0, 59, 92);}
main .top .left .sub_block {margin-left: 20px;margin-bottom: 35px;}

main .top .left .main_info {display: flex;justify-content: space-between;}
main .top .left .main_info .sub_left {width: 40%;display: flex;flex-direction: column;justify-content: space-between;}
main .top .left .main_info .sub_left .input_field {margin-bottom: 20px;}
main .top .left .main_info .sub_left .number_bed,main .top .left .main_info .sub_left .hours {display: flex;justify-content: space-between;}
main .top .left .main_info .sub_left .number_bed .input_field,main .top .left .main_info .sub_left .hours .input_field {width: 200px;}
main .top .left .main_info .sub_right {width: 50%;}
main .top .left .main_info .sub_right .input_field {height: 100%;}
main .top .left .main_info .sub_right .input_field label + textarea {margin-top: 28px;}
main .top .left .main_info .sub_right .input_field textarea {height: 100%;}
main .top .left .main_info .sub_left .input_field,main .top .left .main_info .sub_right .input_field {display: flex;flex-direction: column;}
main .top .left > .price input {width: 50px;border: solid 2px rgb(0, 59, 92);}
main .top .left > .other {display: flex;flex-direction: column;margin-top: 15px;}
main .top .left > .other textarea {height: 150px;}
main .top .left .place .input_field {display: flex;flex-direction: column;margin-bottom: 15px;}
main .top .left .place .first {display: flex;justify-content: space-between;}
main .top .left .place .first .input_field:nth-child(1) {width: 30%;}
main .top .left .place .first .input_field:nth-child(2) {width: 30%;}
main .top .left .place .first .input_field:nth-child(3) {width: 20%;}

main .top .right {display: flex;flex-direction: column;width: 40%;}
main .top .right .photo {width: 100%;height: 50%;border-bottom: 1px solid gray;}
main .top .right .recap {padding: 10px;}


main .bottom {box-sizing: border-box;width: 100%;border-top: solid 1px gray;border-radius: 0 0 15px 15px;padding: 10px;display: flex;flex-direction: column;justify-content: center;align-items: center;}

main .bottom .input_field {margin: 10px 0;}
main .bottom .input_field:nth-child(2) label {font-size: 19px;font-family: 'Alata';}
main .bottom .input_field input {margin: 0;padding: 4px 5px 0px 5px;font-size: 20px;border: 0;border-bottom: 2px solid rgb(0, 59, 92);}
main .bottom .input_field input:focus {outline: none;border-color: orange;}
main .bottom .input_field input:hover {background-color: rgb(240,240,240);}


main .bottom button {transition: all 0.2s;cursor: pointer;font-size: 18px;margin: 15px; border-radius: 20px; padding: 10px 20px;border: solid 1px rgb(0, 59, 92);color:rgb(0, 59, 92);background-color: white;}
main .bottom button:hover {border-color: white;color:white;background-color: rgb(0, 59, 92);}
main .bottom button:focus {outline: none;border-color:orange;}
