{% extends "default.twig" %}

{% block title %}Sakado - A propos de nous{% endblock %}

{% block css%}
    <link rel="stylesheet" href="/css/annexe.css">
{% endblock %}

{% block nav %}
    <li><a class="nav-item nav-link" href="/">Accueil</a></li>

    {% if session.state %}
        <li><a class="nav-item nav-link" href="/account">Mon compte</a></li>
        <li><a class="nav-item nav-link" href="/host">Devenez Hote</a></li>
        <li><a class="nav-item nav-link" href="/list-detail">Reserver un séjour</a></li>
    {% else %}
        <li><a class="nav-item nav-link" href="/login">Devenez Hote</a></li>
        <li><a class="nav-item nav-link" href="/list-detail">Reserver un séjour</a></li>
        <li><a class="nav-item nav-link" href="/login">Connexion</a></li>
        <li><a class="nav-item nav-link" href="/register">Inscription</a></li>
    {% endif %}
    {% if session.state %}
        <li><a class="nav-item nav-link" href="/logout">Se déconnecter</a></li>
    {% endif %}
{% endblock %}


{% block content %}
<div class="container">
    <h1>Contribueurs</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas augue eu dolor venenatis varius. Etiam id libero nec massa consequat hendrerit. Sed eleifend pharetra dui, nec sagittis elit dictum a. Phasellus in varius ante. Duis rutrum sed felis sit amet tincidunt. Curabitur pellentesque dolor quis viverra facilisis. Proin vulputate in augue vitae eleifend. Fusce malesuada libero accumsan metus malesuada accumsan. In pulvinar ipsum nec magna vulputate, condimentum ullamcorper justo semper. Donec ac mattis est, nec viverra odio. Etiam urna urna, maximus in tellus vel, ultricies condimentum justo. Proin quam mi, aliquam a rutrum in, vulputate vel leo. Aliquam vel justo ac neque tincidunt sollicitudin. Nam nec nisi a felis imperdiet mattis.

        Duis eget dolor imperdiet, varius lacus eu, tincidunt leo. Pellentesque posuere ac sapien nec ullamcorper. Sed commodo sodales semper. <br><br>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec vel tristique nisi. Sed eu euismod neque. Nullam placerat quam sit amet erat lobortis ornare id et risus. Morbi leo lacus, imperdiet non ipsum a, condimentum lobortis augue. Nunc dignissim mauris ut ligula pharetra, non efficitur risus efficitur. Morbi imperdiet urna quis neque gravida bibendum.

        Cras sagittis convallis pulvinar. Vivamus sit amet mauris nunc. Nunc quis facilisis sapien, et tempus quam. In imperdiet dolor ut ipsum dictum ultricies. Vivamus risus mauris, varius ac diam ac, tincidunt pellentesque lectus. Sed at porttitor tortor. Maecenas id nulla vulputate, interdum lectus vel, ultricies nisl. Proin at velit ligula. Duis congue lorem a tortor ultricies, sit amet ultricies enim tempor. Nunc vitae libero ante. Aliquam volutpat ac ante eu euismod. Sed lacinia laoreet augue eu elementum. Fusce eget consequat dui, in iaculis quam. Aliquam suscipit, tortor vitae congue porta, arcu eros consectetur dui, ut tincidunt ligula ligula a nulla. Mauris non porttitor sapien.</p>
</div>
{% endblock %}
