{% extends "templates/base.twig" %}

{% block title %}Sacado - Hébergements{% endblock %}

{% block css%}<link rel="stylesheet" href="css/detail.css">{% endblock %}

{% block nav %}
<li><a href="/">Accueil</a></li>
{% if session.email %}
     <li><a href="/account">Mon compte</a></li>
     <li><a href="/myreserve">Mes réservations</a></li>
     <li><a href="/host">Devenir hote</a></li>
     <li><a href="/reserve">Reserver un séjour</a></li>
{% else %}
     <li><a href="#login" class="modal-js">Devenez Hote</a></li>
     <li><a href="/reserve">Reserver un séjour</a></li>
     <li><a href="#login" class="modal-js">Connexion</a></li>
     <li><a href="#register" class="modal-js">Inscription</a></li>
{% endif %}
{% if session.email %}
     <li><a href="/logout">Se déconnecter</a></li>
{% endif %}
{% endblock %}

{% block content %}
<main>
     {{ id }}
</main>
{% endblock %}
