<footer>
    <div class="centered">
        <div class="top">
            <section class="about-us">
                <h5>A PROPOS DE NOUS</h5>
                <p>Sakado est un site de location d'hébergements entre particuliers ou bien professionnel. Besoin d'un lieu de vacances, de repos ou bien pour travailler ? Trouver
                le lieu correspondant à vos attentes. Sakado est une initiative de deux jeunes élèves de l'école Ynov. De plus étant un projet scolaire, celui permettra à ces
                jeunes de valider leur année afin de pouvoir passer en seconde année.</p>
            </section>

            <section class="quick text-right">
                <h5 class="text-right">Sakado</h5>
                <ul>
                    <li><a href="/aboutus">A propos</a></li>
                    <li><a href="/help">Contactez-nous</a></li>
                    <li><a href="/contrib">Contribueurs</a></li>
                    <li><a href="/politics">Politique de confidentialité</a></li>
                    <li><a href="/maps">Carte</a></li>
                </ul>

            </section>
        </div>
        <hr>
        <div class="bottom">
            <p class="rights">Copyrights @ Tous droits réservés par Sakado.</p>
            <ul class="contact">
                <li><a class="facebook" href="https://www.facebook.com/"><i style="width:20px;" class="fab fa-facebook-f fa-lg"></i></a></li>
                <li><a class="instagram" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg"></i></a></li>
                <li><a class="github" href="https://github.com/"><i class="fab fa-github fa-lg"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
