<footer>
    <div class="centered">
        <div class="top">
            <section class="about-us">
                <h5>A PROPOS DE NOUS</h5>
                <p>Scanfcode.com CODE WANTS TO BE SIMPLE is an initiative to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
            </section>
            <section class="search">
                <h5>Récentes Recherches</h5>
                <ul>
                    <li><a href="">C</a></li>
                    <li><a href="">UI Design</a></li>
                    <li><a href="">PHP</a></li>
                    <li><a href="">Java</a></li>
                    <li><a href="">Android</a></li>
                    <li><a href="">Templates</a></li>
                </ul>
            </section>
            <section class="quick">
                <h5>Sacado</h5>
                <ul>
                    <li><a href="">A propos</a></li>
                    <li><a href="">Contactez-nous</a></li>
                    <li><a href="">Contribueurs</a></li>
                    <li><a href="">Politique de confidentialité</a></li>
                    <li><a href="">Carte</a></li>
                </ul>

            </section>
        </div>
        <hr>
        <div class="bottom">
            <p class="rights">Copyrights @ Tous droits réservés par Sacado.</p>
            <ul class="contact">
                <li><a class="facebook" href=""><i style="width:20px;" class="fab fa-facebook-f fa-lg"></i></a></li>
                <li><a class="instagram" href=""><i class="fab fa-instagram fa-lg"></i></a></li>
                <li><a class="github" href=""><i class="fab fa-github fa-lg"></i></a></li>
                <li><a class="linkedin" href=""><i class="fab fa-linkedin fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
