{% extends "default.twig" %}

{% block css%}<link rel="stylesheet" href="/css/form.css">{% endblock %}

{% block content %}
    <div class="modal-log" id="login" role="dialog" >
        <div class="modal-wrapper" >
            <div class="modal-body">
            {% block form %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
