<nav class="navbar navbar-expand-lg navbar-light">
    <a class="h-100 navbar-brand" href="/"><img class="h-100 w-auto" src="img/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fas fa-bars fa-2x"></i></span>
    </button>
    <div class="right collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <ul>
                {% block nav %}{% endblock %}
                <li><a class="nav-item nav-link" href="#">Aide</a></li>
                <li><a class="nav-item nav-link" href="#">Langue</a></li>
            </ul>
        </div>
    </div>
</nav>