{% extends "../layout/form.twig" %}

{% block title %}Sakado - Mot de passe oublié{% endblock %}

{% block nav %}
    <li><a class="nav-item nav-link" href="/">Accueil</a></li>
    {% if session.state %}
        <li><a class="nav-item nav-link" href="/account">Mon compte</a></li>
        <li><a class="nav-item nav-link" href="/myreserve">Mes réservations</a></li>
        <li><a class="nav-item nav-link" href="/host">Devenez Hote</a></li>
        <li><a class="nav-item nav-link" href="/list-detail">Reserver un séjour</a></li>
    {% else %}
        <li><a class="nav-item nav-link" href="/login">Devenez Hote</a></li>
        <li><a class="nav-item nav-link" href="/list-detail">Reserver un séjour</a></li>
        <li><a class="nav-item nav-link" href="/login">Connexion</a></li>
        <li><a class="nav-item nav-link" href="/register">Inscription</a></li>
    {% endif %}
{% endblock %}

{% block form %}
<section class="left">
    <section class="title">
        <i class="fas fa-user fa-5x"></i>
        <h2>Mot de passe oublié</h2>
    </section>
    <form class="form-forgot-pass form-log" method="post">
        <fieldset class="input_field email">
            <label>Email</label>
            <input type="email" name="email" id="email">
        </fieldset>
        <fieldset class="input_field submit">
            <input type="submit" value="Envoyer l'email de récupération">
        </fieldset>
        <a class="sub_text" href="/login">Se connecter ? </a>
        {% if errors %}
            <div class="alert text-center alert-danger">
                {% for error in errors %}
                    <p>Erreur: {{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </form>
</section>
<section class="right">
    <div class="cover">
        <h3>Vous n'avez pas de compte ?</h3>
        <h4>Alors ne perdez pas une seconde, inscrivez-vous !</h4>
        <a class="register-adjust" href="/register">S'inscrire</a>
    </div>
</section>
{% endblock %}
