{% extends "../default.twig" %}

{% block title %}Sakado - Carte du monde{% endblock %}

{% block css%}
    <link rel="stylesheet" href="/css/maps.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
{% endblock %}

{% block nav %}
    <li><a class="nav-item nav-link" href="/">Accueil</a></li>
    {% if session.state %}
        <li><a class="nav-item nav-link" href="/account">Mon compte</a></li>
        <li><a class="nav-item nav-link" href="/myreserve">Mes réservations</a></li>
        <li><a class="nav-item nav-link" href="/host">Devenez Hote</a></li>
        <li><a class="nav-item nav-link" href="/list-detail">Reserver un séjour</a></li>
    {% else %}
        <li><a class="nav-item nav-link" href="/login">Devenez Hote</a></li>
        <li><a class="nav-item nav-link" href="/list-detail">Reserver un séjour</a></li>
        <li><a class="nav-item nav-link" href="/login">Connexion</a></li>
        <li><a class="nav-item nav-link" href="/register">Inscription</a></li>
    {% endif %}
    {% if session.state %}
        <li><a class="nav-item nav-link" href="/logout">Se déconnecter</a></li>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="/js/maps.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
    <div id="map"></div>


{% endblock %}
